/* Structuring */

header {
  background-color: rgb(119, 194, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

nav {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

footer {
  background-color: rgb(21, 173, 255);
  padding: 40px;
  color: rgb(0, 0, 0);
}

/* Text */

a {
  color: black;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

h6 {
  font-size: small;
  border-top: 1px solid #222;
}

p {
  color: gainsboro;
  font-size: large;
}

/* Images */

.logo_circle {
  border-radius: 50%;
  width: 5%;
  height: 5%;
}
