/* Structuring */

html {
    background-color: black;
    font-family: "Trebuchet MS", sans-serif;
}

header {
  background-color: rgb(119, 194, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

nav {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

footer {
  background-color: rgb(21, 173, 255);
  padding: 40px;
  color: rgb(0, 0, 0);
}

/* Text */

h1 {
  font-size: 50px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

h4 {
    font-size: x-large;
}

h5 {
  font-size: large;
  color: white;
}

h6 {
  font-size: small;
  border-top: 1px solid #222;
}

p {
  color: gainsboro;
  font-size: large;
}

a {
    color: gray;
}

.nav {
    color: black;
}

.note {
    font-style: italic;
    font-size: medium;
}

/* Images */

.logo_circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* Decoration */

a:hover {
    text-decoration: underline;
    color: rgb(21, 173, 255);
}

/* Button Shimmer Effect */

.button.is-shimmer {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button.is-shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(76, 76, 76, 0.1) 0%,
    rgba(159, 144, 255, 0.5) 50%,
    rgba(76, 76, 76, 0.1) 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.button.is-shimmer:hover::before {
  opacity: 1;
  animation: shimmer 1s forwards;
}

.button.is-shimmer:hover {
  text-decoration: underline;
}

@keyframes shimmer {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}